@font-face {
  font-family: "Ikarus";
  src: url("ABCIkarusv170-VariableVF.ttf") format("truetype-variations");
}

html {
  margin: 1% 1% 1%;
  display: block;
}

svg,
body {
  background-color: black;
  font-family: "Ikarus";
  align-content: center;
  text-align: center;
  /* text-wrap: balance; */
  margin: 1rem 1rem 1rem;
}

.words {
  display: inline-block;
  overflow: hidden;
  font-size: 150px;
  color: antiquewhite;
}