    @font-face {
      font-family: Ikarus;
      src: url("./Ikarus.woff2") format("woff2-variations");
      font-style: normal;
      font-display: swap;
      unicode-range: U+00-7F, U+2014;
    }

    html {
      background-color: #37383b;
      color: lightblue;
      font-family: Ikarus;
      font-synthesis: none;
      font-size: 62.5%;
      font-feature-settings:
        "case" 1,
        "liga" 1,
        "ss02" 1,
        "ss03" 1,
        "ss04" 1,
        "ss11" 1,
        "ss13" 1,
        "ss17" 1,
        "ss18" 1;
      font-variation-settings: "ital" 0, "cont" 0;
      font-weight: 400;
      font-stretch: 100%;
    }

    section {
      place-content: center;
      place-self: center;
      width: 38ch;
      height: 100vh;
      font-size: clamp(1.6rem, 0.75vw + 1.24rem, 2.2rem);
      /* margin: 0 auto; */
      white-space: nowrap;
      overflow: visible;
      padding: 0;

    }
