@font-face {
  font-family: 'Social';
  src: url('../fonts/ABCSocialPlusVariable-Trial.woff2') format(woff2);
  font-weight: normal;
  font-style: oblique -12;
  font-variation-settings: 'wght' 400, 'wdth' 100, 'slnt' 0;
  /* font-feature-settings: 'rlig' 1, 'rvrn' 1, 'kern' 1, 'rclt' 1, 'ss07' 1,
    'ss01' 1, 'ss02' 1; */
}

:root {
  --fluid-16-48: clamp(1rem, 0.3043rem + 3.4783cqi, 3rem);
}

html {
  box-sizing: border-box;
  font-family: 'Social', 'Courier New', Courier, monospace;
  color: #333;
  font-size: 62.5%;
  background-color: bisque;
}

#container {
  container-type: size;
  font-size: var(--fluid-16-48);
  white-space: nowrap;
  overflow: visible;
  margin: 0 auto;
  padding-left: 0.5rem;
  width: 51ch;
}

p {
  border: 1px solid black;
}
